@using ThingFinder.Utility

@{
    Layout = "Layouts/_Root";
}

@section Styles {
    @await RenderSectionAsync("Styles", false)
}

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container">
            <a href="#" class="navbar-brand mr-auto">ThingFinder</a>

            <partial name="_LoginPartial"/>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="footer text-muted">
    <div class="container">
        &copy; @Constants.CopyrightDate - @Constants.CopyrightAuthor
    </div>
</footer>