@using ThingFinder.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>
        @if (ViewData["Title"] is string title) {
            @:@title -&nbsp;
        }

        @Constants.SiteName
    </title>

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>